.App {
  text-align: center;
}

body {
  background-color: #379683;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EDF5E1;
}
